body {
  font-family: alike;
  color: #0c5b71;
  background: #e8e1d7;
}

main {
  margin-top: 60px;
}
.personale {
  display: flex;
  margin-bottom: 30px;
  gap: 80px;
}

.p1 {
  font-size: 0.9rem;
  color: #333;
  margin-top: 16px;
  max-width: 920px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.katrine img {
  width: 100%;
}

.portfolie {
  column-count: 3;
  column-gap: 14px;
  max-width: 1800px;
  margin: 0 auto;
}

.portfolie img {
  width: 100%;
  display: block;
  margin: 0 0 14px;
}
.image-container {
  display: flex;
  flex-direction: column;
}

.image-container img {
  aspect-ratio: 3/5;
  height: auto;
}

.image-hover {
  position: relative;
}
.image-hover span {
  display: none;
}
.image-hover:hover span {
  width: 100%;
  height: 100%;
  background-color: rgb(201, 201, 201);
  color: black;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

/*mobile site*/

@media (max-width: 700px) {
  .personale {
    display: grid;
    grid-template-columns: 1fr;
  }

  .katrine img {
    width: 100%;
    height: auto;
  }
}
