body {
  font-family: alike;
  color: #0c5b71;
  background: #e8e1d7;
  max-width: 90%;
  margin: 0 auto;
}

.personale {
  display: flex;
  margin-bottom: 30px;
  gap: 80px;
}

p {
  font-size: 1.5rem;
}

.katrine img {
  width: 100%;
}

.portfolie {
  column-count: 3;
  column-gap: 14px;
}

.portfolie img {
  width: 100%;
  display: block;
  margin: 0 0 14px;
}
.image-container {
  display: flex;
  flex-direction: column;
}

.image-container img {
  aspect-ratio: 3/5;
  height: auto;
}

.image-hover {
  position: relative;
}
.image-hover span {
  display: none;
}
.image-hover:hover span {
  width: 100%;
  height: 100%;
  background-color: rgb(201, 201, 201);
  color: black;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
