.header {
  background-color: white;
  padding: 5px 40px;
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  min-height: 60px;
}

.logo img {
  height: 35px;
  width: auto;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.nav a {
  text-decoration: none;
  color: #0c5b71;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
