* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header styling*/

.header {
  background-color: white;
  padding: 5px 40px;
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  min-height: 60px;
}

.logo img {
  height: 35px;
  width: auto;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.nav a {
  text-decoration: none;
  color: #0c5b71;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*Footer styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #2c422e;
  color: #cfc5b6;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  padding: 5px 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 20px 20px 20px;
  width: 100%;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

/* Tekst under h3 */
.footer-section p {
  font-size: 14px;
  line-height: 1.8;
}

.footer-section p .label {
  font-weight: bold;
}
/* Linjen */
.footer hr {
  border: 0;
  border-top: 1px solid #cfc5b6;
  margin: 5px 0;
}

.footer-bottom {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 12px;
  line-height: 1.8;
  margin: 0;
}

.footer-section p .label {
  font-weight: bold;
}
